.card-1{
    display: flex;

}

.solid-star{
    color: gold;
}

.empty-star{
    color: gold;
}

.card-wrapper{
    display: flex;
    justify-content: center;
    
}

.card{
    width: 50%;
    margin: 0.5em;
}

.carousel-caption{
    position: absolute;
    top: 40%;
}

@media only screen and (max-device-width: 767px) {
   
    .card-1{
        display: flex;
        flex-direction: column;
        }

        .card-wrapper{
            display: grid;
            }
    


    .flexible-card-image{
        min-width: 100%;
    }

    .ready-to-join{
        display: flex;
        flex-direction: column;
    }

    .ready-to-join-text{
        width: 100% !important;
        text-align: center;
    }

    .ready-to-join-button{
        width: 100% !important;
        justify-content: center !important;
    }

    .explore-div{
        display: flex;
        flex-direction: column;
        padding: 1px;
        margin: 0px;
    }

    .explore-p p{
        width:100%;
        margin: 2px;
        height: 12vh;
        white-space: wrap;
        overflow: hidden;
        text-overflow:ellipsis;
    }

    .explore-h1 h1{
        font-size:medium;
    }

   .explore-stat{
        display: grid;
        grid-template-rows: repeat(1fr);
        margin: 2px;
        padding: 2px;
   }

   .explore-button{
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
   }

   .ready-to-join{
        width: 100%;
        margin: 0%;
        padding: 0%;
        left: 0%;
   }

   .trust-section{
        visibility:hidden;
   }

   .carousel-caption{
    position: absolute;
    top: 10%;
    font-size: 10px;
    }
    
    .carousel-caption p{
        font-size: 1rem !important;
    }

    .carousel-caption h1{
        font-size: 1rem !important;
    }

   html,body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 

    
}


}

@media only screen and (min-device-width: 768px) and (max-device-width: 991px) {

    .ready-to-join{
        display: flex;
        flex-direction: column;
    }

    .ready-to-join-text{
        width: 100% !important;
        text-align: center;
    }

    .ready-to-join-button{
        width: 100% !important;
        justify-content: center !important;

    }

    html,body {
        width: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden; 
    }

    .carousel-caption{
        position: absolute;
        top: 30%;
    }

    .explore-div{
        display: flex;
        flex-direction: row;
        height: 45.6vh;
        padding: 1px;
        margin: 0px;
    }

    .explore-p p{
        width:100%;
        margin: 2px;
        height: 7vh;
        white-space: wrap;
        overflow: hidden;
        text-overflow:ellipsis;
    }

    .explore-h1 h1{
        font-size:medium;
        font-weight: bold;
    }

   .explore-stat{
        display:flex;
        flex-direction: column;
        margin: 2px;
        padding: 2px;
   }

   .photo{
        width: ;
    }

    .institute-desc{
        height: 5vh;
    }
   .explore-button{
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
   }

   .trust-section{
    visibility:hidden;
}
}